.boards {
  width: 50%;
}
.boards li {
  margin-bottom: 10px;
  list-style: none;
  padding: 10px;
  background-color: white;
  border-radius: 15px;
  text-align: left;
}

li button {
  width: 100%;
  border: none;
  background: none;
  padding: 10px;
  cursor: pointer;
}
