<nav>
  <button class="back-button" routerLink="">Back to all boards</button>
</nav>
@if (board) {
<div id="board-container">
  <span class="board-name">{{ board.name }}</span>
  <span class="board-id">ID: {{ board.id }}</span>
  <div class="container">
    <ul class="lists">
      @for (list of lists; track $index) {
      <li>
          <span class="list-name">{{ list.name }}</span>
            <!-- TODO: add cards -->
            <div class="container">
              <ul class="cards">
                @for (card of cards; track $index) {
                  @if(card.listId === list.id) {
                    <li>
                        <span class="card-name">{{ card.name }}</span>
                    </li>
                  }
                }
                <!--
                <li>
                  <nav>
                    <button [routerLink]="['/add-card', list.id]">Add card</button>
                  </nav>
                </li>
                -->
              </ul>
            </div>
      </li>
      }
      <nav>
        <button [routerLink]="['/add-list', board.id]">Add list</button>
      </nav>
    </ul>
  </div>
</div>
}
