<nav>
  <button class="back-button" routerLink="">Back to all boards</button>
</nav>
@if (board) {
<div id="board-container">
  <span class="board-name">{{ board.name }}</span>
  <span class="board-id">ID: {{ board.id }}</span>
  <div class="container">
    <ul class="lists">
      @for (list of lists; track $index) {
      <li>
          <span class="list-name">{{ list.name }}</span>
            <!-- TODO: add cards -->
      </li>
      }
      <li>
        <nav>
          <button [routerLink]="['/add-list', board.id]">Add list</button>
        </nav>
      </li>
    </ul>
  </div>
</div>
}
