#board-container {
  background-color: #fff;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
}
li {
  list-style: none;
  text-align: left;
  display: inline-table;
  margin: 10px;
  padding: 10px;
  background-color: gray;
  border-radius: 15px;
}
.cards li {
  background-color: lightgray;
}
