/* Add application styles & imports to this file! */
html,
body {
  padding: 0;
  margin: 0;
  background-color: #dde1e5;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  margin: 0 auto;
  padding: 10px;
}
h2 {
  margin-top: 0;
  font-size: 15pt;
}
button {
  width: auto;
  display: inline-table;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  background-color: lightseagreen;
  color: #fff;
  font-size: 10pt;
  border: none;
  cursor: pointer;
  text-decoration: none;
}
form div {
  padding: 5px;
}
form button {
  background-color: royalblue;
  margin-top: 10px;
}
form button:disabled {
  background-color: gray;
}
form label {
  font-weight: bold;
}
form label input {
  display: block;
  margin-bottom: 5px;
}
.back-button {
  background-color: #000;
}
.board-name, .list-name {
  display: block;
  text-align: left;
  font-weight: bold;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 11pt;
  color: #000;
}
.board-id, .card-description {
  display: block;
  color: gray;
  font-size: 8pt;
}
